name: Compile

on:
  - push
  - workflow_dispatch

jobs:
  test:
    name: Compile Electron Client
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        package_manager: [npm, yarn]
        package_root: ["."]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.17.5

      - name: Install test app dependencies
        run: |
          cd ${{ matrix.package_root }}
          ${{ matrix.package_manager }} install
      - name: Run action
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          package_root: ${{ matrix.package_root }}
          use_vue_cli: ${{ contains(matrix.package_root, 'vue')}}
          max_attempts: "2"
